<h1>Admin &raquo;Dashboard</h1>
<ul class="list-group">
<li class="list-group-item"><a href="/admin/products">Product Count </a> <span class="badge"> <%= @product_count%> </span></li>
<li class="list-group-item"><a href="/admin/categories">Category Count</a> <span class="badge"><%= @categories_count%> </span></li>

</ul> 