
  <div class="review" >
    <div class="col-sm-8">
      <dt>Review Rating</dt>
      <dd><%= rating %></dd>
    </div>
    <div class="col-sm-4">
      <dt>Review Description</dt>
      <dd><%= description %> </dd> 
    </div>
  </div>
